src/main/mule/git-test2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c3bb7a11-2414-4f3c-b803-8503cf06618f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-test2Flow" doc:id="94a336fa-926c-4015-84ac-8a3d342b9260" >
		<http:listener doc:name="Listener" doc:id="1936e8a2-64a3-4412-9d73-cff2b7322a95" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="4e793ed5-6397-4a9b-b56d-c45b8b114710" message="Request received for processing"/>
		<set-payload value='#["Successfully executed the flow"]' doc:name="Set Payload" doc:id="815cce64-7bcd-405c-a5a1-06c3de074f2e" />
	</flow>
</mule>
